@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Sen', sans-serif;
}

#root {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#root>* {
    border: thin solid black;
}

button {
    cursor: pointer;
}

/* Header ================================================================ */
header {
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5vw;
    background-color: #BA0021;
    color: white;
}


/* main =================================================================== */

main {
    width: 100%;
    height: 46.1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5vw;
}

main>* {
    height: 100%;
    border: thin solid black;
}

#container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 40%;
}

#container1>* {
    width: 100%;
    height: 20%;
    border: thin solid black;
}

#container1>button {
    width: 60%;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3vw;
    font-size: 2vw;
    background-color: #BA0021;
    color: white;
    border: thin solid transparent;
}

#container1>span {
    width: 100%;
    height: 40%;
}

#container1>.title {
    font-family: 'Varela Round', sans-serif;
    font-size: 3vw;
    height: 25%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#container1>.par {
    height: 10%;
}

#container2 {
    width: 50%;
}

/* login ===================================================================== */

#forms {
    width: 100%;
    height: 46.1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#forms>* {
    width: 30%;
    height: 90%;
    border: thin solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup {
    font-size: 1.7vw;
}

#signup>div {
    width: 100%;
    height: 70%;
    border: thin solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#signup>div>input {
    width: 80%;
    height: 9%;
    border: thin solid #BA0021;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 0.5vw;
}

#signup>div>button {
    width: 40%;
    height: 12%;
    background-color: #BA0021;
    color: white;
    border: thin solid transparent;
    border-radius: 2vw;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#login {
    font-size: 1.7vw;
}

#login>div {
    width: 100%;
    height: 40%;
    border: thin solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



input:focus {
    outline: none;
}

#login>div>input {
    width: 80%;
    height: 18%;
    border: thin solid #BA0021;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 0.5vw;
}

#login>div>button {
    width: 40%;
    height: 18%;
    background-color: #BA0021;
    color: white;
    border: thin solid transparent;
    border-radius: 2vw;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Aside ================================================================ */

aside {
    width: 7vw;
    height: 100%;
    background-color: #BA0021;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

aside span {
    width: 85%;
    height: 11%;
    border: thin solid white;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #BA0021;
    border-radius: 50%;
    font-size: 1.5vw;
}

/* userForm ============================================================== */

#userForm {
    width: 100%;
    height: 53vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#userForm>form {
    width: 68vw;
    height: 100%;
    border: thin solid #BA0021;
    overflow-y: scroll;

}

.formInfo {
    width: 90%;
    height: 30%;
    border: thin solid black;
    margin-left: 5%;
    border-radius: 1vw;
    margin-top: 1vw;
}

#userForm>div {
    width: 25vw;
    height: 100%;
    border: thin solid #BA0021;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#userForm>div>span {
    width: 85%;
    height: 10%;
    border: thin solid #BA0021;
    background-color: #BA0021;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    font-size: 2vw;
}

#userForm>div>span>strong {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#userForm>div>span>p {
    height: 90%;
    width: 85%;
    font-size: 1.6vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#userForm>div>button {
    width: 60%;
    height: 8%;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 2vw;
    color: #BA0021;
    border: .5vw double #BA0021;

}

/* user ======================================== */

#user {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* users ================================= */
#users {
    width: 63vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#users>div {
    width: 90%;
    border: thin solid black;
}

#user_title {
    height: 10%;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#user_image {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#user_info {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#user_buttons {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#user_buttons>button {
    width: 20%;
    height: 100%;
    font-size: 1.7vw;
    background-color: #BA0021;
    border: thin solid transparent;
    color: white;
    letter-spacing: .3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#bio {
    width: 30vw;
    height: 100%;
    border: thin solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#bio form {
    width: 85%;
    height: 8%;
    border: thin solid #BA0021;
    margin-top: 1vw;
    border-radius: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#bio form input {
    border: thin solid #BA0021;
    width: 70%;
    height: 95%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    text-align: center;
    font-size: 1.7vw;

}

#bio form button {
    border: thin solid #BA0021;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 30%;
    height: 100%;
    font-size: 1.7vw;
    background-color: #BA0021;
    color: white;

}


/* footer ====================================================================== */

footer {
    width: 100%;
    height: 20vw;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
